# SPDX-FileCopyrightText: 2024-2025 Espressif Systems (Shanghai) CO LTD
# SPDX-License-Identifier: Apache-2.0

stages:
  - lint
  - build
  - test

ruff_check:
  stage: lint
  image: python:3.9-alpine

  tags:
    - build

  script:
    - python3 -m pip install --upgrade pip ruff
    - ruff check .

build_mfg_tool:
  stage: build
  image: python:${PYTHON_VERSION}-alpine

  tags:
    - build

  parallel:
    matrix:
      - PYTHON_VERSION: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

  artifacts:
    paths:
      - mfg_tool/dist/${PYTHON_VERSION}
    expire_in: 1 week

  script:
    - cd mfg_tool
    - mkdir -p dist/${PYTHON_VERSION}
    - python3 -m pip install --upgrade pip build setuptools
    - python3 -m build -o dist/${PYTHON_VERSION}

build_dmv_tool:
  stage: build
  image: python:${PYTHON_VERSION}-alpine

  tags:
    - build

  parallel:
    matrix:
      - PYTHON_VERSION: ["3.10", "3.11", "3.12", "3.13", "3.14"]

  artifacts:
    paths:
      - dmv_tool/dist/${PYTHON_VERSION}
    expire_in: 1 week

  script:
    - apk add --no-cache
    - cd dmv_tool
    - mkdir -p dist/${PYTHON_VERSION}
    - python3 -m pip install --upgrade pip build setuptools
    - python3 -m build -o dist/${PYTHON_VERSION}

test_mfg_tool:
  stage: test
  image: python:${PYTHON_VERSION}-bullseye # Reliable for evolving test dependencies

  tags:
    - build

  parallel:
    matrix:
      - PYTHON_VERSION: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"] # TODO - 3.14 will be added after python:3.14-bullseye will be available

  needs:
    - job: build_mfg_tool
      artifacts: true

  script:
    - cd mfg_tool
    - python3 -m pip install --upgrade pip
    - python3 -m pip install dist/${PYTHON_VERSION}/esp_matter_mfg_tool*.whl
    - python3 -m pip install -r requirements-test.txt
    - python3 -m pytest tests/ -v -s --log-cli-level=INFO


test_dmv_tool:
  stage: test
  image: python:${PYTHON_VERSION}-bullseye

  tags:
    - build

  parallel:
    matrix:
      - PYTHON_VERSION: ["3.10", "3.11", "3.12", "3.13"] # TODO - 3.14 will be added after python:3.14-bullseye will be available

  needs:
    - job: build_dmv_tool
      artifacts: true

  script:
    - cd dmv_tool
    - python3 -m pip install --upgrade pip
    - python3 -m pip install dist/${PYTHON_VERSION}/esp_matter_dm_validator*.whl
    - python3 -m pip install -r requirements-test.txt
    - python3 -m pytest tests/ -v -s --log-cli-level=INFO
