# SPDX-FileCopyrightText: 2024-2025 Espressif Systems (Shanghai) CO LTD
# SPDX-License-Identifier: Apache-2.0

stages:
  - lint
  - build
  - test

ruff_check:
  stage: lint
  image: python:3.9-alpine

  tags:
    - build

  script:
    - python3 -m pip install --upgrade pip ruff
    - cd mfg_tool
    - ruff check sources tests
    # adding only newly added files to the format check
    # TODO: perform format check on other source files later
    - ruff format --check --diff --line-length 132 tests/ sources/matter_secure_cert.py
    - |
      if [ $? -ne 0 ]; then
        echo "Warning: Formatting issues found, can be fixed by running 'ruff format --line-length 132 <filename>'"
        exit 1
      fi

build_mfg_tool:
  stage: build
  image: python:3.9-alpine

  tags:
    - build

  artifacts:
    paths:
      - mfg_tool/dist/
    expire_in: 1 week

  script:
    - apk add --no-cache patch
    - cd mfg_tool
    - python3 -m pip install --upgrade pip build setuptools
    - python3 -m build

test_mfg_tool:
  stage: test
  image: python:3.10-bullseye  # Reliable for evolving test dependencies

  tags:
    - build

  needs:
    - build_mfg_tool

  script:
    - cd mfg_tool
    - python3 -m pip install --upgrade pip build setuptools
    - python3 -m build
    - python3 -m pip install dist/esp_matter_mfg_tool*.whl
    - python3 -m pip install -r requirements-test.txt
    - python -m pytest tests/ -v -s --log-cli-level=INFO
