bitarray>=2.6.0
cryptography==44.0.1
cffi==1.15.0; python_version < "3.13"
cffi==1.17.1; python_version >= "3.13"
future==0.18.3
pycparser==2.21
pypng==0.0.21
PyQRCode==1.2.1
python_stdnum==1.18
esp-secure-cert-tool>=2.2.1
ecdsa==0.19.0
esp_idf_nvs_partition_gen==0.1.9
