name: PyPI release

on:
  push:
    branches:
      - main

jobs:
  build_and_upload:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    environment:
      name: PyPI
      url: https://pypi.org/project/esp-matter-mfg-tool/

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build setuptools

    - name: Build esp-matter-mfg-tool ${{ github.event.release.tag_name }}
      run: |
        cd mfg_tool
        python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: mfg_tool/dist
        skip-existing: true

  build_and_upload_dmv_tool:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    environment:
      name: PyPI
      url: https://pypi.org/project/esp-matter-dm-validator/

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build setuptools

    - name: Build esp-matter-dm-validator ${{ github.event.release.tag_name }}
      run: |
        cd dmv_tool
        python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dmv_tool/dist
        skip-existing: true
