name: PyPI release

on:
  push:
    branches:
      - main

jobs:
  build_and_upload:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build setuptools twine

    - name: Build and upload esp-matter-mfg-tool ${{ github.event.release.tag_name }}
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PROJECT_TOKEN }}
      run: |
        cd mfg_tool
        PUBLISHED_VERSION=$(curl https://pypi.org/pypi/esp-matter-mfg-tool/json 2>/dev/null | jq -r '.info.version')
        CURRENT_VERSION=$(python setup.py --version 2>/dev/null)
        if [ "$PUBLISHED_VERSION" == "$CURRENT_VERSION" ]; then
          echo "Version ${PUBLISHED_VERSION} already published, skipping..."
          exit 0
        else
          echo "Packaging and publishing new esp-matter-mfg-tool version: ${CURRENT_VERSION}"
          python -m build
          twine check dist/* && twine upload dist/*
        fi

  build_and_upload_dmv_tool:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    environment:
      name: PyPI
      url: https://pypi.org/project/esp-matter-dm-validator/

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build setuptools

    - name: Build esp-matter-dm-validator ${{ github.event.release.tag_name }}
      run: |
        cd dmv_tool
        python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dmv_tool/dist
        skip-existing: true
